<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Control</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation"
        (click)="toggleCollapsed()">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="row" id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/uploadfile']">Subir Archivos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/showfiles']">Mostrar Archivos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']" *ngIf="out" (click)="logout()">Cerrar sesion</a>
            </li>
        </ul>
    </div>
    <div class="row ml-auto">
        <div class="container text-light">
            {{user.email}}
            <img src="{{user.photoURL}}"  style="height: 80%; width: 20%; border-radius: 50%;" fallimg="default">
        </div>
    </div>
</nav>

